NODE_ENV="development"
BUILD_OPTION="static"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
DATABASE_URL=<SUPABASE_DATABASE_URL>
DIRECT_URL=<SUPABASE_DIRECT_URL>
NEXT_PUBLIC_SUPABASE_URL=<SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<SUPABASE_ANON/PUBLISHABLE_KEY>
SUPABASE_SERVICE_ROLE_KEY=<SUPABASE_SECRET_KEY>
GEOAPIFY_API_KEY=<GEOAPIFY_API_KEY>
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=<GOOGLE_CLIENT_SECRET>
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>